@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@400;600;700;800&display=swap");

/* 
font-family: 'Poppins', sans-serif; -- normal fonts
font-family: 'Roboto Slab', serif; -- Headings
#8247E5 -- purple
#FF1616 -- red
#FFDE59 -- yellow
 */

:root {
	--box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
	--color-red: #ff1616;
	--color-yellow: #ffde59;
	--color-purple: #8247e5;
	--bg-yellow: #fcdd60;
	--bg-yellow-light: #ffeea8;
	--bg-red: #ff6666;
	--bg-purple: #9a5fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

.heading {
	font-family: "Roboto Slab", serif;
}

.normal-font {
	font-family: "Poppins", sans-serif;
}

.text-red {
	color: var(--color-red);
}

.text-yellow {
	color: var(--color-yellow);
}

.text-purple {
	color: var(--color-purple);
}

.anchor {
	text-decoration: none;
	color: var(--bg-purple);
}

.container {
	width: 80%;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
}
